.about {
    
    .about_text {
        padding: 8% 0;
        p {
            text-align: right;
        }
    }   
}


@media (max-width: 560px) {

    .about .about_text {
        padding: 8% 0;
        padding-top: 55%;
        text-align: left;
        p {
            text-align: left;
            padding-left: .5rem
        }
    }
}