.contacts {
    position: relative;
    min-height: 80vh;

    .absolute-contact {
        z-index: 2;
        color: #ffffff;
        top: -2%;
        right: -36%;
        height: 84vh;
        position: absolute;
        border-radius: 16px;
        padding: 3% 3%;
        background: url(../images/contacts_bg.png) 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 513px;
        margin-right: -2%;
        transition: all .6s;
        width: 800px;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 25px;
            height: 25px;
            background: #ffffff;
            left: 1%;
            clip-path: polygon(0 55%, 58% 0, 12% 55%, 58% 100%);
            top: 48%;
            transition: all 1s;

        }

        .contact-info {
            margin-right: 3rem;
            height: 100%;
            max-height: 430px;

            p {
                margin: 0;
                font-size: 14px;

                &:nth-child(3) {
                    margin-top: 12%;
                }

                &:nth-child(5) {
                    margin-top: 12%;
                }

                &:nth-child(7) {
                    margin-top: 12%;
                }

                &:nth-child(9) {
                    margin-top: 12%;
                }

                &:nth-child(11) {
                    margin-top: 12%;
                }
            }

        }

        .contact_form {
            padding: 20% 0;
            max-height: 430px;
            z-index: 3;

            input {
                color: #ffffff;
                background: transparent;
                width: 100%;
                border: 1px solid #ffffff;
                padding: .5rem 0;

                &::placeholder {
                    color: #ffffff !important;
                }
            }


            textarea {
                width: 100%;
                background: transparent;
                height: 50%;
                margin-top: 3%;
                border: 1px solid #ffffff;

                &::placeholder {
                    color: #ffffff !important;
                }
            }
        }
    }

    .unfold {
        right: 0% !important;

        &:before {
            transform: rotateY(180deg);
            left: 0%;
        }
    }
}

.contacts-mobile {
    display: none;
    overflow: hidden;

    .absolute-contact-mobile {
        z-index: 2;
        color: #ffffff;
        position: relative;
        border-radius: 16px;
        padding: 3% 3%;
        background: url(../images/contacts_bg.png) 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .6s;
        background-position-x: -1rem;

        .contact-info {

            margin-right: 3rem;
            height: 100%;
            max-height: 430px;

            p {
                margin: 0;
                font-size: 14px;

                &:nth-child(3) {
                    margin-top: 12%;
                }

                &:nth-child(5) {
                    margin-top: 12%;
                }

                &:nth-child(7) {
                    margin-top: 12%;
                }

                &:nth-child(9) {
                    margin-top: 12%;
                }

                &:nth-child(11) {
                    margin-top: 12%;
                }
            }

        }

        .contact_form {
            padding: 20% 0;
            max-height: 430px;
            z-index: 3;
            color: #ffffff;

            input {
                color: #ffffff !important;
                background: transparent;
                width: 100%;
                border: 1px solid #ffffff;
                padding: .5rem .5rem;
                margin-bottom: 1rem;

                &:focus {
                    outline: none !important;
                }
                &::placeholder {
                    color: #ffffff
                }
            }

            textarea {
                width: 100%;
                background: transparent;
                height: 50%;
                padding: .5rem .5rem;
                margin-top: 3%;
                border: 1px solid #ffffff;

                &:focus {
                    outline: none !important;
                }
                &::placeholder {
                    color: #ffffff
                }
            }

            a {
                display: inline-block;
                padding: .5rem;
                margin-top: .5rem;
                cursor: pointer;
                transition: all .4s;
                background: url(../images/a_arrow.png);
                background-repeat: no-repeat;
                background-position-x: 120%;
                background-position-y: 50%;
                background-size: contain;
                width: 40%;
                &:active {
                    transform: scale(1.2);
                }
               

            }
        }
    }
}

@media (max-width: 580px) {
    .contacts-mobile {
        display: block;
    }

    .contacts-desktop {
        display: none !important;
    }
}