.main {
    .glide1 {
        // width: 78%;
        // margin-right: 2.5%;
        margin-top: 27%;
        margin-left: 1rem;
    }

    .glide2 {
        margin-right: 18%;
        margin-top: 26%;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 78%;
            height: 63%;
            top: 23%;
            right: 25%;
            border: 1px solid #03abc4;
        }
    }

    .glide3 {
        margin-top: 6%;
        width: 75%;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 80%;
            height: 48%;
            top: 1%;
            background: linear-gradient(90deg, rgba(255, 255, 255, .6) 5%, rgba(3, 171, 196, 1) 100%)
        }
    }

    .glide__arrow--left {
        transform: rotate(180deg);
        background: no-repeat;
        padding-bottom: 5px;
    }

    .glide__arrow--right {
        background: no-repeat;
    }

    .glide__arrows {
        text-align: center;

        .glide__arrow {
            outline: none;
            border: none;
        }
    }

    .absolute__banner {
        position: absolute;
        font-size: 2em;
        position: absolute;
        transform: translate(50%, 50%);
        color: #ffffff;
        top: 200px;
        right: 56%;
        z-index: 2;
        background: red;
        width: 32%;
        padding: .5rem 1rem;
        background: linear-gradient(90deg, rgba(255, 255, 255, .6) 5%, rgba(3, 171, 196, 1) 100%);
        p {
            font-size: 1.2em;
            margin-bottom: 0;
        }
    }
}


@media (max-width: 560px) {

    .main {
        overflow-x: hidden;
    }

    .absolute__banner{display: none};

    .glide1{
        width: 100% !important ;
        margin: .5rem .5rem;
    };
    .glide2{
        margin: auto !important;
    };
    .glide3{
        margin: auto !important;
    };
}