.product {
    padding: 1rem;

    .product-img {
        background: url(../images/catalog_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 2rem;
        padding-top: 1rem;
        text-align: center;
        height: auto;
        position: relative;
        // margin-bottom: -1.5rem;

        img {
            width: 50%;
            margin-bottom: -1rem;
        }
    }

    .product-status {
        display: flex;
        justify-content: space-between;
     
    }

    .nav-item {
        width: 33.33%;
    }

    .nav-tabs {
        .active {
            padding: 8px;
            border: 1px solid #00abc4;
            border-radius: 0% !important;
            border-bottom: none !important;
            margin-bottom: -2px;
        }
        .nav-link {
            color: #00abc4;
        }

    }


    .tab-content {
        padding: 8px;
        border: 1px solid #00abc4;

        img {
            width: 100%;
        }
        .tab-pane {
            .row {
                p {
                    color: #000 ;
                }  
            }   
        }
    }

    .text-info {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 410px;
        color: #000;

        &::-webkit-scrollbar {
            width: 1em;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: #00abc4;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #00abc4;
            outline: 1px solid transparent;
        }

        &::-webkit-scrollbar-button {
            background: url(../images/arrow-scrollbar.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        &::-webkit-scrollbar-button:vertical:increment {
            background: url(../images/arrow-scrollbar--increment.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .product-status {
        &:nth-child(2n) {
            background: linear-gradient(to right, rgba(0, 171, 196, .6) 0%, #ffffff 100%);
            padding: 2px;

            p {
                background: #ffffff;
                width: 50%;
                height: 100%;
                margin: 0;
                padding: .5rem 1rem;

                &:last-child {
                    text-align: right;
                }
            }
        }
        &:last-child {
            margin-bottom: .5rem;
          }

        p {
            background: #ffffff;
            width: 50%;
            height: 100%;
            margin: 0;
            padding: .5rem 1rem;

            &:last-child {
                text-align: right;
            }
        }
    }
    .prod-info {
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        span {
           font-size: 10px; 
           padding-bottom: 3.4rem;
        }
        p {
            font-weight: 600;
            font-size: 22px;
            color: #00abc4;
            padding: 2rem 2rem 2rem 0;
        }
        .btn-container {
            display: inline;
            vertical-align: bottom;
            a {
                border: 2px solid #00abc4;
                padding: .45rem;
                color: #00abc4;
                font-size: 12px;
                width:45%;
                display: inline-block;
                &:hover {
                    text-decoration: none;
                }
                &:first-child {
                    background: url(../images/download_btn.png);
                    background-repeat: no-repeat;
                    background-position-y: center;
                    background-position-x: 95%;
                    background-size: 17%;
                }
                &:last-child {
                    background: url(../images/a_arrow-colored.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position-x: -5%;
                    border: none;
                    padding: .6rem;
                    width: 48%;
                }
            }
            .btn-primarySend {
                background-color: #00abc4;
                color: #ffffff
            }
            .btn-primarySend {
                background-color: #00abc4;
                color: #ffffff
            }
        }
    }
}

@media (max-width: 580px) {
    .product {
        .prod-info {
            span {
                padding-bottom: 0;
                padding-top: 2rem;
            }
            p {
                padding: 1rem 0 0 0;
            }
        }
        .product-status {
            font-size: 12px; 
            p {
                
                    font-size: 9px; 
            }
        }
       .nav-link {
           font-size: 11px;
       }
       
    }
}