.glide__slide {
    background: url(../images/catalog_bg.png) no-repeat;
    text-align: center;
    position: relative;
    background-size: contain;

    p {
        text-align: left;
        padding-right: 15%;
        margin-bottom: 2rem;
    }

    img {
        height: 330px !important;
    }

    .pdf_link {
        padding: .3rem 1rem;
        width: 60%;
        display: inline-block;
        color: #00abc4;
        border: 2px solid #00abc4;

        &:hover {
            text-decoration: none;
        }

        img {
            margin-top: -5px;
            margin-left: 5px;
            height: 100%;
        }
    }
}

.slider-for{
    margin-left: -18%;
    border-radius: 14px;
    box-shadow: -3px 3px 8px 2px;
    max-height: 600px;
    img {
        border-radius: 14px;
        max-height: 500px;
    }
   
   
}
.slick-dotted.slick-slider {
    transform: rotate(90deg);

    .slick-slide {
        height: auto !important;
    }
        img {
            transform: rotate(-90deg);
            width: 100%;
            height: 100%;
         
    }

    .slick-prev {
        content: "";
        background: url(../images/arrow_button.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        transform: rotate(90deg);
        width: 40px;
    }

    .slick-next {
        content: "";
        background: url(../images/arrow_button.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        transform: rotate(-90deg);
        width: 40px;
    }

}

.slick-slide {
    img {
        width: 100%;
    }
}

.slider-nav {
    margin-left: -76%;
    margin-top: 83%;
    margin-bottom: 30px;
    width: 500px;

    height: 42%;
    padding-top: 29%;
    .slick-list {
        height: 100%;
        padding: 0 !important;

        .slick-track {
            height: 100%;

            .slick-slide {
                img {
                    width: 100% !important;
                }
            }
        }

    }

}

@media (max-width: 560px) {
    .slider-for{
        margin-left: 0%;
        border-radius: 0px;
        box-shadow: none;
        max-height: 600px;
        img {
            border-radius: 14px;
            max-height: 500px;
        }
        .slick-prev:before {
            display: none 
        } 
        
        .slick-next:before {
            display: none !important
        }
       
    }
    .slick-dotted.slick-slider {
        transform: rotate(0deg);
    
        .slick-slide {
            height: auto !important;
        }
            img {
                transform: rotate(0deg);
                width: 100%;
                height: 100%;
             
        }
    
        .slick-prev {
            content: "";
            background: url(../images/arrow_button.png);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            transform: rotate(0deg);
            width: 40px;
        }
    
        .slick-next {
            content: "";
            background: url(../images/arrow_button.png);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            transform: rotate(0deg);
            width: 40px;
        }
    
    }
    
    .slick-slide {
        img {
            width: 100%;
        }
    }
    
    .slider-nav {
        margin-left: 0;
        margin-top: 0%;
        margin-bottom: 30px;
        width: 100%;
        margin-top: 1rem;
        height: 100%;
        padding-top: 0%;
        .slick-list {
            height: 100%;
            padding: 0 !important;
    
            .slick-track {
                height: 100%;
    
                .slick-slide {
                    img {
                        width: 100% !important;
                    }
                }
            }
    
        }
        .slick-prev:before {
            display: none;
        }
        .slick-next:before {
            display: none;
        }
    
    }
    .slick-arrow {
        display: none !important;
    }
}


.cascade-slider_container {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
  }
  
  .cascade-slider_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.3);
    transition: all 1s ease;
    opacity: 0;
    z-index: -1;
  }
  
  .cascade-slider_item.next {
    left: 50%;
    transform: translateY(-50%) translateX(-150%) scale(0.6);
    opacity: 1;
    z-index: 1;
  }
  
  .cascade-slider_item.prev {
    left: 50%;
    transform: translateY(-50%) translateX(50%) scale(0.6);
    opacity: 1;
    z-index: 1;
  }
  
  .cascade-slider_item.now {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
    z-index: 5;
  }
  
  .cascade-slider_arrow {

        display: inline-block;
        position: absolute;
        cursor: pointer;
        z-index: 5;
        height: 100%;
        width: 50%;
    
  }
  
  .cascade-slider_arrow-left {
    left: 0;
  }
  
  .cascade-slider_arrow-right {
    right: 0;
  }
  
  .cascade-slider_nav {
    position: absolute;
    bottom: -120px;
    width: 100%;
    text-align: center;
    z-index: 5;
  }
  
  .cascade-slider_dot {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 1em;
    background: #ddd;
    list-style: none;
    cursor: pointer;
  }
  
  .cascade-slider_dot:hover {
    background: #555;
  }
  
  .cascade-slider_dot.cur {
    background: #555;
  }
  

  .cascade-slider_item {
      z-index: 10;
      transition: all .8s;
    transform: translateY(-50%) translateX(15%) scale(0.3);
    text-align: center;
     img{
         width: 85% !important;
     }
}

  .cascade-slider_item.next {
    opacity: .5 !important;
}

  .cascade-slider_item.now {
    transform: translateY(-50%) translateX(-110%) scale(.7) !important;
    opacity: .8 !important;
}

.cascade-slider_item.prev {
    transform: translateY(-50%) translateX(-50%) scale(1);
    z-index: 6 !important;
    img {
        background: url(../images/certificates_bg.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
}