body {
    background: transparent;
    height: 100%;
}

html{
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100%;
}

.about {
    min-height: 150px;
    background: url(../images/about-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 13%;
}
