.socials {
    // position: absolute;
    // bottom: -5%;

    .row   {
        justify-content: flex-end;
        a {
            display: inline-block;
            align-items: right;
            margin: 0 3px;
            &:nth-child(1) {
                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
            &:nth-child(2) {
                svg {
                    width: 1.5rem;
                    height: 1.6rem;
                    margin: 3px 0;
                }
            }
            &:nth-child(3) {
                svg {
                    width: 2rem;
                    height: 2rem;    
                }
            }
            svg {
                fill: #7dc7f5;
                
            }
        }
    }
}