
.header {
    padding: 1rem 0;
    background: transparent;
    .header__logo {
        img {
            width: 100%;
        } 
    }
    .search_field {
        width: 100%;
        border: none;
        background: url(../images/background_global.png);
        background-image: linear-gradient(90deg, rgba(125, 199, 245, .5) 0%, rgba( 255, 255, 255, 0) 37%);   
        height: 100%;
        padding: 1rem;
        color: #00abc4;
        &:focus {
           outline: none;
        }
    }
    h2 {
        color: #00abc4;
        text-align: right;
    }
    
}
@media (max-width: 561px) {
    .header {
        .header__logo {
            img {
                width: 50%;
            }
        }
       
    }
    
}





