.hc-nav-trigger {
   right: 3%;
   top: 30px;
   span {
    background: #00abc4 !important;
    border-radius: 7px;
    width: 38px !important;
    height: 8px !important;
    &:before {
        background: #00abc4 !important;
        border-radius: 7px;
        width: 38px !important;
        height: 8px !important;
        top: -13px !important;
    }
    &:after {
        background: #00abc4 !important;
        border-radius: 7px;
        width: 38px !important;
        height: 8px !important;
        bottom: -13px !important;
    }
   }
}

.nav-content {
    .nav-item {
        border-bottom: none !important;
    }
    background: #00abc4;
    .nav-close{
        a {
            background: #00abc4 !important;
            border-top: none !important;
            border-bottom: none !important;
        }      
    }
    li {
        background: #00abc4 !important;
        border-top: none !important;
        border-bottom: 1px solid #fff;
    }
}